
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* @import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 */
/* .card{
    display: inline-block;
    margin: 15px 15px 16px 16px;
    background: #FFFAF1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    width:350px;
    height:257px;
    padding : 10px 15px 10px 15px;
}

.header{
    height: 63px;
    background: #FFFAF1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width:100%;
}

.grafic{
    height:106px;
    background-color:yellowgreen;
}

.status{
    margin: 2px 16px 0 0 ;
    float:right;
    text-align: left;
    font: normal normal normal 13px/19px Jost;
    letter-spacing: 0px;
    color: #C5C5C5;
}

.locate{
    margin: 0 0 4px 0;
    height:23px;
    width:100%;
    text-align: left;
    font: normal normal normal 16px/23px Jost;
    letter-spacing: 0px;
    color: #000000;
}
  
.data{
    margin: 10px 0 4px 0;
    height:26px;
    width:100%;
    text-align: left;
    font: normal normal 300 18px/26px Jost;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.weather{
    display:flex;
    justify-content: space-between;
}

.right_weather{
    display: flex;
      text-align: right;
      font: normal normal normal 12px/18px Jost;
      margin-right: 5px;
      flex-direction: column;
}

.right_weather_el{
      margin: 5px 0 0 0;
      flex-direction: column;
} 

.left_weather{
    display: flex;
      margin: 10px 10px 0 0;
}

.tempature{
    text-align: left;
    font: normal normal normal 44px/64px Jost;
    margin:0 5px 0 0;
    display: flex;
}

.forc{
    display: flex;
}

.forc_block{
    display: flex;
    position: relative;
}

.C{
    display: flex;
    text-align: left;
    font: normal normal normal 22px/32px Jost;
}

.line{
    display:flex;
    height: 23px;
    border: 1px solid #707070;
    margin: 0 10px 0 10px;
}

.F{
    display: flex;
    text-align: left;
    font: normal normal normal 22px/32px Jost;
} 
 */

.card {
    display: inline-block;
    margin: 15px 15px 16px 16px;

    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    width: 320px;
    height: 237px;
    padding : 10px 15px 10px 15px;
    position: relative;
}

.close-icon { 
    background-image: url('../../images/x-icon.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5.8px;
    right: 7.75px;
}
.close-icon:hover { 
    cursor: pointer;
}

.main .warm{
    background: #FFFAF1;
}

.main .cold {
    background: #F1F2FF;
}

.chart {
    height:86px;
    width: 100%;
}




