.language {
  display: flex;
  width: 100%;
  font: normal normal normal 16px/23px Jost;
  justify-content: flex-end;
}

.lang-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../../images/material-language.svg');
  background-repeat: no-repeat;
  color: #AFAFAF;
  border: none;
  outline: none;
  width: 71px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.lang-icon {
  display: flex;
  align-content: center;
  width: 18px;
  height: 12px;
  margin-right: 6px;
  margin-left: 6px;
  z-index: 10;
}

.lang-block:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.list-item {
  text-align: center;
  border: none;
  outline: none;
  padding: 3px 47px 0px 5px;
  background-color: white;
  font: normal normal normal 14px/20px Jost;
  color: #000000;
  text-transform: uppercase;

}

.list-item:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}
